apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: svjis-db-statefulset
  namespace: svjis
spec:
  selector:
    matchLabels:
      app: svjis-db
  serviceName: svjis-db-service
  replicas: 1
  template:
    metadata:
      labels:
        app: svjis-db
    spec:
      containers:
      - name: svjis-db
        image: jacobalberty/firebird:3.0.7
        ports:
        - containerPort: 3050
          name: db
        volumeMounts:
        - name: db
          mountPath: /firebird
        env:
        - name: ISC_PASSWORD
          valueFrom:
            secretKeyRef:
              name: svjis-secret
              key: sysdba-password
        - name: FIREBIRD_USER
          valueFrom:
            secretKeyRef:
              name: svjis-secret
              key: web-username
        - name: FIREBIRD_PASSWORD
          valueFrom:
            secretKeyRef:
              name: svjis-secret
              key: web-password
        - name: FIREBIRD_DATABASE
          valueFrom:
            configMapKeyRef:
              name: svjis-configmap
              key: database
        - name: TZ
          value: Europe/Prague
  volumeClaimTemplates:
  - metadata:
      name: db
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: svjis-db-service
  namespace: svjis
spec:
  selector:
    app: svjis-db
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 3050
      targetPort: 3050
